examples/Simple STT (deepspeech-wav).json
[{"id":"c023cc21.9ea028","type":"deepspeech-wav","z":"d267222a.8db42","modelPath":"","scorerPath":"","showAdvanced":false,"enableBeamwidth":false,"beamWidth":"","enableAlphaBeta":false,"lmAlpha":"","lmBeta":"","disableScorer":false,"inputProp":"payload","outputProp":"payload","name":"","x":490,"y":220,"wires":[["2c1a949.e93b66c"]]},{"id":"c350acf1.47e5b","type":"microphone","z":"d267222a.8db42","name":"","x":130,"y":220,"wires":[["cddcb97d.de9098"]]},{"id":"2c1a949.e93b66c","type":"debug","z":"d267222a.8db42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":710,"y":220,"wires":[]},{"id":"cddcb97d.de9098","type":"sox-convert","z":"d267222a.8db42","name":"","conversionType":"wav","outputToFile":"buffer","manualPath":"","wavMore":true,"wavByteOrder":"-L","wavEncoding":"signed-integer","wavChannels":1,"wavRate":16000,"wavBits":16,"flacMore":false,"flacCompression":8,"flacChannels":1,"flacRate":16000,"flacBits":16,"mp3More":false,"mp3Channels":2,"mp3Rate":44100,"mp3BitRate":128,"oggMore":false,"oggCompression":3,"oggChannels":2,"oggRate":44100,"debugOutput":false,"x":290,"y":220,"wires":[["c023cc21.9ea028"],["15f15b3d2a662a47"]]},{"id":"15f15b3d2a662a47","type":"debug","z":"d267222a.8db42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":450,"y":280,"wires":[]},{"id":"434ade49f3e9b2b8","type":"comment","z":"d267222a.8db42","name":"Simple deepspeech example","info":"","x":170,"y":180,"wires":[]}]
